{% extends 'home/basic.html' %}
{% load static %}
{% block title %}{{title}}{% endblock %}


{% block css %}
<style>
	.list-star::-webkit-scrollbar {
		width: 0 !important
	}
</style>
{%endblock%}

{%block header%}

<header class="site-header mo-left header">
	<div class="sticky-header main-bar-wraper header-curve navbar-expand-lg">
		<div class="main-bar clearfix bg-primary">
			<div class="container clearfix">
				<!-- website logo -->
				<div class="logo-header mostion">
					<a href="/"><img src="{%static 'images/logo.png'%}" alt="" style="height: 72px; width: 72px;"></a>
				</div>

				<!-- main nav -->
				<div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
					<div class="logo-header d-md-block d-lg-none">
						<a href="/"><img src="{%static 'images/logo.png'%}" alt=""></a>
					</div>
					<ul class="nav navbar-nav">
						<li> <a href="/">Home</a></li>
						<li> <a href="/blogs">Blogs</a></li>
						<li> <a href="/newsletters">Newsletters</a></li>
						{%if user.is_authenticated%}
						<li> <a href="/accounts/logout">Logout</a></li>
						{%else%}
						<li> <a href="/accounts/">Signup</a></li>
						<li> <a href="/accounts/login">Login</a></li>
						{%endif%}
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
{%endblock%}

{% block body%}
<!-- Slider -->
<div class="main-slider style-two default-banner" id="home">
	<div class="tp-banner-container">
		<div class="tp-banner">
			<div id="welcome_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="reveal-add-on36"
				data-source="gallery" style="background:#ffffff;padding:0px;">
				<!-- START REVOLUTION SLIDER 5.4.7.2 fullscreen mode -->
				<div id="welcome" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.7.2">
					<ul>
						<!-- SLIDE  -->
						<li data-index="rs-100" data-transition="slideoververtical" data-slotamount="default"
							data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
							data-easeout="default" data-masterspeed="default" data-thumb="" data-rotate="0"
							data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3=""
							data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
							data-param10="" data-description="">
							<!-- MAIN IMAGE -->
							<img src="{%static 'images/home/slider1.jpg'%}" alt=""
								data-lazyload="{%static 'images/home/slider1.jpg'%}" data-bgposition="center center"
								data-kenburns="on" data-duration="4000" data-ease="Power3.easeInOut"
								data-scalestart="150" data-scaleend="100" data-rotatestart="0" data-rotateend="0"
								data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0"
								data-bgparallax="4" class="rev-slidebg" data-no-retina>
							<!-- LAYER NR. 1 -->
							<!-- LAYERS -->
							<!-- LAYER NR. 1 -->

							<div class="tp-caption tp-shape tp-shapewrapper ov-tp " id="slide-100-layer-1"
								data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
								data-width="full" data-height="full" data-whitespace="nowrap" data-type="shape"
								data-basealign="slide" data-responsive_offset="off" data-responsive="off"
								data-frames='[{"delay":10,"speed":1000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1500,"frame":"999","to":"opacity:0;","ease":"Power4.easeIn"}]'
								data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]" style="z-index: 5;">
							</div>
							<div class="tp-caption " id="slide-100-layer-3"
								data-x="['center','center','center','center']" data-hoffset="['-90','-200','0','0']"
								data-y="['middle','middle','middle','middle']"
								data-voffset="['-100','-100','-100','-90']" data-fontsize="['65','40','40','30']"
								data-lineheight="['80','40','40','30']" data-letterspacing="['2','2','2','2']"
								data-width="['1000','none','768','360']" data-height="none"
								data-whitespace="['normal','nowrap','normal','normal']" data-type="text"
								data-responsive_offset="off" data-responsive="off"
								data-frames='[{"delay":900,"speed":2000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:1.1;sY:1.1;skX:0;skY:0;opacity:0;","color":"#000000","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","color":"#000000","to":"opacity:0;","ease":"nothing"}]'
								data-textAlign="['left','left','center','center']" data-paddingtop="[0,0,0,0]"
								data-paddingright="[10,10,0,0]" data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"
								style="z-index: 6; min-width: 800px; max-width: 800px; font-weight: 600; white-space: normal; color: #fff; font-family: 'Poppins',sans-serif;">
								SOCIETY OF <br />ELECTRONICS AND <br /> COMMUNICATIONS
							</div>
							<!-- LAYER NR. 3 -->
							<div class="tp-caption" id="slide-100-layer-4"
								data-x="['center','center','center','center']" data-hoffset="['-265','-165','0','0']"
								data-y="['middle','middle','middle','middle']" data-voffset="['50','0','-5','00']"
								data-fontsize="['18','16','14','14']" data-lineheight="['30','30','26','26']"
								data-width="['640','481','500','300']" data-height="none" data-whitespace="normal"
								data-type="text" data-responsive_offset="off" data-responsive="off"
								data-frames='[{"delay":900,"speed":2000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:1.1;sY:1.1;skX:0;skY:0;opacity:0;","color":"#000000","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","color":"#000000","to":"opacity:0;","ease":"nothing"}]'
								data-textAlign="['left','left','center','center']" data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"
								style="z-index: 7; min-width: 640px; max-width: 640px; font-weight: 700; font-size: 18px; line-height: 30px; font-weight: 400; color: #fff; font-family: 'Poppins',sans-serif;">
							</div>
						</li>
						<li data-index="rs-200" data-transition="fadethroughdark" data-slotamount="default"
							data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default"
							data-easeout="default" data-masterspeed="default" data-thumb="" data-rotate="0"
							data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3=""
							data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9=""
							data-param10="" data-description="">
							<!-- MAIN IMAGE -->
							<img src="{%static 'images/home/slider2.jpg'%}" alt=""
								data-lazyload="{%static 'images/home/slider2.jpg'%}" data-bgposition="center center"
								data-kenburns="on" data-duration="4000" data-ease="Power3.easeInOut"
								data-scalestart="150" data-scaleend="100" data-rotatestart="0" data-rotateend="0"
								data-blurstart="0" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0"
								data-bgparallax="4" class="rev-slidebg" data-no-retina>
							<!-- LAYER NR. 1 -->
							<div class="tp-caption tp-shape tp-shapewrapper ov-tp " id="slide-200-layer-1"
								data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
								data-width="full" data-height="full" data-whitespace="nowrap" data-type="shape"
								data-basealign="slide" data-responsive_offset="off" data-responsive="off"
								data-frames='[{"delay":10,"speed":1000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":1500,"frame":"999","to":"opacity:0;","ease":"Power4.easeIn"}]'
								data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]" style="z-index: 5;">
							</div>
							<div class="tp-caption " id="slide-200-layer-3"
								data-x="['center','center','center','center']" data-hoffset="['-90','-200','0','0']"
								data-y="['middle','middle','middle','middle']"
								data-voffset="['-100','-100','-100','-90']" data-fontsize="['65','40','40','30']"
								data-lineheight="['80','40','40','30']" data-letterspacing="['2','2','2','2']"
								data-width="['1000','none','768','360']" data-height="none"
								data-whitespace="['normal','nowrap','normal','normal']" data-type="text"
								data-responsive_offset="off" data-responsive="off"
								data-frames='[{"delay":900,"speed":2000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:1.1;sY:1.1;skX:0;skY:0;opacity:0;","color":"#000000","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","color":"#000000","to":"opacity:0;","ease":"nothing"}]'
								data-textAlign="['left','left','center','center']" data-paddingtop="[0,0,0,0]"
								data-paddingright="[10,10,0,0]" data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"
								style="z-index: 6; min-width: 800px; max-width: 800px; font-weight: 600; white-space: normal; color: #fff; font-family: 'Poppins',sans-serif;">
								SOCIETY OF <br />ELECTRONICS AND <br /> COMMUNICATIONS
							</div>
							<!-- LAYER NR. 3 -->
							<div class="tp-caption" id="slide-200-layer-4"
								data-x="['center','center','center','center']" data-hoffset="['-265','-165','0','0']"
								data-y="['middle','middle','middle','middle']" data-voffset="['50','0','-5','00']"
								data-fontsize="['18','16','18','14']" data-lineheight="['30','30','25','22']"
								data-width="['640','481','500','300']" data-height="none" data-whitespace="normal"
								data-type="text" data-responsive_offset="off" data-responsive="off"
								data-frames='[{"delay":900,"speed":2000,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:1.1;sY:1.1;skX:0;skY:0;opacity:0;","color":"#000000","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":500,"frame":"999","color":"#000000","to":"opacity:0;","ease":"nothing"}]'
								data-textAlign="['left','left','center','center']" data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"
								style="z-index: 7; min-width: 640px; max-width: 640px; font-weight: 700; font-size: 18px; line-height: 30px; font-weight: 400; color: #fff; font-family: 'Poppins',sans-serif;">
							</div>
						</li>
					</ul>
					<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
				</div>
			</div>
			<!-- END REVOLUTION SLIDER -->
		</div>
	</div>
</div>
<!-- Slider END -->

<!-- about section -->
<div class="section-full bg-white content-inner">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<!-- tabs defult -->
				<div class="section-content box-sort-in button-example p-t10 p-b30 tabs-site-button">
					<div class="dlab-tabs">
						<ul class="nav nav-tabs">
							<li><a data-toggle="tab" href="#web-design-1" class="active"><i class="ti-world"></i><span
										class="title-head">About</span></a></li>
							<li><a data-toggle="tab" href="#graphic-design-1"><i class="ti-image"></i>
									<span class="title-head">Vision</span></a></li>
							<li><a data-toggle="tab" href="#developement-1"><i class="fa fa-cog"></i><span
										class="title-head">Mission</span></a></li>
						</ul>
						<div class="tab-content">
							<div id="web-design-1" class="tab-pane active">
								<p class="m-b0">The Society of Electronics and Communication Engineers (SOECE) is the
									professional society of Electronics and Communication Department.The Society came
									into being ever since the inception of ECE Department in the Institute. SOECE aims
									at nurturing technical, cultural and managerial skills among the students by
									providing ample opportunities to bring their potential at surface.
								</p>
							</div>
							<div id="graphic-design-1" class="tab-pane">
								<p class="m-b0">To become a globally recognised department of higher learning that will
									provide inter-disciplinary knowledge,human values and professional ethics among the
									youth, so as to serve as a valuable resource for the industry and society.
								</p>
							</div>
							<div id="developement-1" class="tab-pane">
								<p class="m-b0">To serve the nation and the world by graduating proficient,
									knowledgeable engineers in the field of Electronics, Communication and related areas
									through constsnt interaction with research organisations and industries.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- about section -->


<!-- gallery -->
<div class="section-full bg-white content-inner">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="sort-title clearfix text-center">
					<h4>Gallery</h4>
				</div>
				<!-- Portfolio Carousel with team member -->
				<div class="section-content box-sort-in m-b30 button-example">
					<div class="img-carousel owl-loaded owl-theme owl-carousel mfp-gallery gallery owl-btn-center-lr owl-btn-4 owl-dots-none"
						id="gallery">

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- gallery -->

<div class="section-full bg-white content-inner bg-img-fix">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="sort-title clearfix text-center">
					<h4>Events by SOECE</h4>
				</div>
				<!-- Listing With Numbering & Alfha -->
				<div class="section-content box-sort-in m-b10 p-b0 button-example m-b30">
					<div class="row">
						<div class="col-md-4 col-lg-4">
							<ul class="list-star red list-box">
								<li>A two days Workshop on MATLAB was conducted for the students of 1st year during
									24-25 Jan, 2013.
								</li>
								<li>Celebration of farewell function for passing out students 13 May 2014.
								</li>
								<li>Organized work workshop on “Multisim” for B.Tech students of ECE department, held on
									Nov., 2014.
								</li>
								<li>AN EVENT “ ELECTRONICS PREMIER LEAGUE “DATE: 7TH AND 8TH FEBRUARY 2015.
								</li>
								<li>B.Tech ECE 3rd Year organized Industrial Tour to TBR Laboratory, DRDO Ramgarh Test
									Range, Panchkula Haryana, near Chandigarh scheduled on 16th March, 2015.
								</li>
							</ul>
						</div>
						<div class="col-md-4 col-lg-4 ">
							<ul class="list-cup primary list-box style1">
								<li>Electrical Circuits Simulation Workshop was conducted on 5 Oct, 2012.
								</li>
								<li>Organized work workshop on “Introduction to Matlab” for UG and PG students of
									various departments, held on 23-24 Aug., 2014.
								</li>
								<li>The farewell for ECE 4th year is held on 1st May, 2015.
								</li>
								<li>Celebration of farewell function for passing out students 13 May 2014.
								</li>
								<li>Organized work workshop on “Introduction to Matlab” for UG and PG students of
									various departments, held on 23-24 Aug., 2014.
								</li>
							</ul>
						</div>
						<div class="col-md-4 col-lg-4">
							<ul class="list-heart primary list-box style2">
								<li>PCB Design Workshop was conducted on 15-16 Sep, 2012
								</li>
								<li>Engineer's Day Celebration in Dept. of ECE on 15th Sep., 2014.
								</li>
								<li>Organized work workshop on “Multisim” for B.Tech students of ECE department, held on
									Nov., 2014
								</li>
								<li>Under IEEE, NITJ Students chapter, a two days Workshop on Multisim was conducted for
									the students of 1st year during 3-4 Aug, 2013.</li>
								<li>A Seminar regarding IEEE Student Chapter was held on 14 Jan, 2013 by speaker Mr.
									Tushar Sharma, Gold member, IEEE Delhi Section
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Listing With Numbering & Alfha END -->
</div>



<!-- notification bar -->
<div class="section-full bg-white content-inner bg-img-fix">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="sort-title clearfix text-center">
					<h4>Notifications </h4>
				</div>
				<!-- Listing With Numbering & Alfha -->

				<div class="section-content box-sort-in m-b10 p-b0 button-example">
					<div class="max-w1200 m-auto">
						<ul class="list-star reverse list-box "
							style="height: 400px; overflow-y: scroll; overflow-x: hidden;" id="notifications">
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- notification bar -->

{%endblock%}

{% block footer%}
<!-- Footer -->
<footer class="site-footer footer-full">
	<div class="p-tb60 bg-black">
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-md-left text-center footer-logo">
					<img src="{%static 'images/logo.png'%}" alt="" width="100">
					<p class="m-b0 m-t10">Copyright © 2021</p>
				</div>
				<div class="col-md-6 text-md-right text-center">
					<div class="widget-link ">
						<p>
							Developed By
							<a target="_blank" href="https://www.linkedin.com/in/prince-mishra-7379101ab/">Prince
								Mishra</a>, and
							<a target="_blank" href="https://www.linkedin.com/in/nishant-6013b61a3/">Nishant</a>
						</p>
						<p>
							Idea by
							<a target="_blank" href="https://www.linkedin.com/in/sourav-goyal-61b469196/">Sourav
								Goyal</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Footer END -->
{%endblock%}

{% block script %}
<script>
	function getGallery() {
		const url = "http://127.0.0.1:8000/home/gallery/";
		const token = '{{csrf_token}}';

		return request = $.ajax({
			headers: {
				"X-CSRFToken": token
			},
			url: url,
			type: "post",
			data: {},
			async: false,
		}).responseText;
	}

	function populateGallery() {
		gallery = JSON.parse(getGallery())["img"]
		const ele = $("#gallery")[0];
		innerHTML = ""

		for (let index = 0; index < gallery.length; index++) {
			const loc = gallery[index];
			innerHTML += `<div class="item">
							<div class="ow-portfolio">
								<div class="ow-portfolio-img dlab-img-overlay1 dlab-img-effect zoom-slow">
									<img src="` + loc + `" alt="">
								</div>
							</div>
						</div>`
		}

		ele.innerHTML = innerHTML

	}

	function getNotification() {
		const url = "http://127.0.0.1:8000/home/notifications/";
		const token = '{{csrf_token}}';

		return request = $.ajax({
			headers: {
				"X-CSRFToken": token
			},
			url: url,
			type: "post",
			data: {},
			async: false,
		}).responseText;
	}

	function populateNotification() {
		notifications = JSON.parse(getNotification());
		blog_notifications = notifications["blogs"];
		newsletters_notifications = notifications["newsletters"];

		let i = 0,
			j = 0;
		const ele = $("#notifications")[0];

		while (i < blog_notifications.length && j < newsletters_notifications.length) {
			var li_b = document.createElement("LI");
			var a_b = document.createElement("A");

			if (blog_notifications[i]["new"] == 1) {
				a_b.innerHTML = `<i>` + blog_notifications[i]["heading"] +
					`<img src="{%static 'images/home/new.png'%}" style="height: 25px; width: 25px;"alt=""></i>`;
			} else {
				a_b.innerHTML = blog_notifications[i]["heading"];
			}

			a_b.href = blog_notifications[i]["url"]
			a_b.target = "_blank"
			li_b.append(a_b)
			ele.append(li_b)


			// second part
			li_b = document.createElement("LI");
			a_b = document.createElement("A");

			if (newsletters_notifications[j]["new"] == 1) {
				a_b.innerHTML = `<i>` + newsletters_notifications[j]["heading"] +
					`<img src="{%static 'images/home/new.png'%}" style="height: 25px; width: 25px;"alt=""></i>`;
			} else {
				a_b.innerHTML = newsletters_notifications[j]["heading"];
			}

			a_b.href = newsletters_notifications[j]["url"]
			a_b.target = "_blank"
			li_b.append(a_b)
			ele.append(li_b)

			i++, j++;
		}

		while (i < blog_notifications.length) {
			var li_b = document.createElement("LI");
			var a_b = document.createElement("A");

			if (blog_notifications[i]["new"] == 1) {
				a_b.innerHTML = `<i>` + blog_notifications[i]["heading"] +
					`<img src="{%static 'images/home/new.png'%}" style="height: 25px; width: 25px;"alt=""></i>`;
			} else {
				a_b.innerHTML = blog_notifications[i]["heading"];
			}

			a_b.href = blog_notifications[i]["url"]
			a_b.target = "_blank"
			li_b.append(a_b)
			ele.append(li_b)

			i++;
		}

		while (j < newsletters_notifications.length) {
			li_b = document.createElement("LI");
			a_b = document.createElement("A");

			if (newsletters_notifications[j]["new"] == 1) {
				a_b.innerHTML = `<i>` + newsletters_notifications[j]["heading"] +
					`<img src="{%static 'images/home/new.png'%}" style="height: 25px; width: 25px;"alt=""></i>`;
			} else {
				a_b.innerHTML = newsletters_notifications[j]["heading"];
			}

			a_b.href = newsletters_notifications[j]["url"]
			a_b.target = "_blank"
			li_b.append(a_b)
			ele.append(li_b)

			j++;
		}
	}

	populateGallery();
	populateNotification();
</script>
{% endblock %}