{% extends 'home/basic.html' %}
{% load static %}
{% block title %}{{title}}{% endblock %}


{% block css %}

<style>
    #thisIsThePage {
        background-color: #34bfa3;
        color: white;
    }
</style>

{%endblock%}

{%block header%}
<header class="site-header mo-left header">
    <div class="sticky-header main-bar-wraper header-curve navbar-expand-lg">
        <div class="main-bar clearfix bg-primary">
            <div class="container clearfix">
                <!-- website logo -->
                <div class="logo-header mostion">
                    <a href="/"><img src="{%static 'images/logo.png'%}" alt="" style="height: 72px; width: 72px;"></a>
                </div>

                <!-- main nav -->
                <div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
                    <div class="logo-header d-md-block d-lg-none">
                        <a href="/"><img src="{%static 'images/logo.png'%}" alt=""></a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li> <a href="/">Home</a></li>
                        <li> <a href="/newsletters">Newsletters</a></li>
                        <li> <a href="/contest">Contests</a></li>
                        {%if user.is_authenticated%}
                        <li> <a href="/accounts/logout">Logout</a></li>
                        {%else%}
                        <li> <a href="/accounts">Signup</a></li>
                        <li> <a href="/accounts/login">Login</a></li>
                        {%endif%}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
{%endblock%}


{% block body%}
<div class="section-full content-inner">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 post card-container">
                <div class="sort-title clearfix text-left">
                    <!-- Example single danger button -->
                    <div class="btn-group">
                        <button type="button" class="site-button green dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Page No {{page}}
                        </button>
                        <div class="dropdown-menu" style="max-height: 300px; overflow-y: scroll;">
                            {%for i in pages%}
                            {%if i == page%}
                            <a class="dropdown-item" href="/contest/searchKeyword/?contestId={{contestId}}&page={{i}}&key={{key}}"
                                id="thisIsThePage">{{i}}</a>
                            {%else%}
                            <a class="dropdown-item"
                                href="/contest/searchKeyword/?contestId={{contestId}}&page={{i}}&key={{key}}">{{i}}</a>
                            {%endif%}
                            {%endfor%}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 post card-container">
                <div class="sort-title clearfix text-right">
                    <!-- Example single danger button -->
                    <div class="btn-group">
                        <form class="input-group" method="GET" action="/contest/searchKeyword/">
                            {%csrf_token%}
                            <div class="form-outline">
                                <input type="search" class="form-control" name="key"
                                    value="{{key}}"> </div>
                            <input type="hidden" name="contestId" value="{{contestId}}">
                    </div>
                    <button class="btn site-button green" onclick="this.SubmitEvent()">
                        <i class="fa fa-search"></i>
                    </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</div>



<div class="section-full content-inner">
    <!-- Product -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table check-tbl">
                        <thead>
                            <tr>
                                {%for col in columns%}
                                <th>{{col}}</th>
                                {%endfor%}
                            </tr>
                        </thead>
                        <tbody>

                            {%for person in result%}
                            <tr class="alert">
                                {%for data in person%}
                                <td class="product-item-name">{{data}}</td>
                                {%endfor%}
                            </tr>
                            {%endfor%}


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Product END -->
</div>
<!-- Shop Service info -->



<div class="section-full content-inner">
    <div class="container">
        <div class="row">

            <div class="col-lg-12 post card-container">
                <div class="sort-title clearfix text-center">
                    {%if left%}
                    <a href="/contest/getPrevResultSearchKeyword/?contestId={{contestId}}&page={{page}}&key={{key}}"
                        class="site-button green m-r15" type="button"><i class="fa fa-arrow-left"></i> Prev</a>
                    {%else%}
                    <button class="site-button red m-r15" type="button"><i class="fa fa-arrow-left"></i> Prev</button>
                    {%endif%}

                    <button class="site-button red m-r15" type="button">{{page}}</button>

                    {%if right%}
                    <a href="/contest/getNextResultSearchKeyword/?contestId={{contestId}}&page={{page}}&key={{key}}"
                        class="site-button green m-r15" type="button">Next <i class="fa fa-arrow-right"></i></a>
                    {%else%}
                    <button class="site-button red m-r15" type="button">Next <i class="fa fa-arrow-right"></i></button>
                    {%endif%}
                </div>
            </div>


        </div>
    </div>
</div>


{%endblock%}


{% block footer%}
<!-- Footer -->
<footer class="site-footer footer-full">
    <div class="p-tb60 bg-black">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-md-left text-center footer-logo">
                    <img src="{%static 'images/logo.png'%}" alt="" width="100">
                    <p class="m-b0 m-t10">Copyright © 2021</p>
                </div>
                <div class="col-md-6 text-md-right text-center">
                    <div class="widget-link ">
                        <p>
                            Developed By
                            <a target="_blank" href="https://www.linkedin.com/in/prince-mishra-7379101ab/">Prince
                                Mishra</a>, and
                            <a target="_blank" href="https://www.linkedin.com/in/nishant-6013b61a3/">Nishant</a>
                        </p>
                        <p>
                            Idea by
                            <a target="_blank" href="https://www.linkedin.com/in/sourav-goyal-61b469196/">Sourav
                                Goyal</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer END -->
{%endblock%}


{% block script %}

{%endblock%}