{% extends 'accounts/basic.html' %}
{% load static %}
{% block title %}{{title}}{% endblock %}


{% block css %}{%endblock%}

{%block header%}
<header class="site-header mo-left header">
    <div class="sticky-header main-bar-wraper header-curve navbar-expand-lg">
        <div class="main-bar clearfix bg-primary">
            <div class="container clearfix">
                <!-- website logo -->
                <div class="logo-header mostion">
					<a href="/"><img src="{%static 'images/logo.png'%}" alt="" style="height: 72px; width: 72px;"></a>
                </div>

                <!-- main nav -->
                <div class="header-nav navbar-collapse collapse justify-content-end" id="navbarNavDropdown">
                    <div class="logo-header d-md-block d-lg-none">
                        <a href="/"><img src="{%static 'images/logo.png'%}" alt=""></a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li> <a href="/">Home</a></li>
                        <li> <a href="/blogs">Blogs</a></li>
                        <li> <a href="/newsletters">Newsletters</a></li>
                        {%if user.is_authenticated%}
                        <li> <a href="/accounts/logout">Logout</a></li>
                        {%else%}
                        <li> <a href="/accounts/login">Login</a></li>
                        {%endif%}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

{%endblock%}


{% block body%}
<div class="section-full content-inner contact-page-8 bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 m-b30">
                        <div class="icon-bx-wraper expertise bx-style-1 p-a20 radius-sm">
                            <div class="icon-content">
                                <h5 class="dlab-tilte">
                                    <span class="icon-sm text-primary"><i class="ti-location-pin"></i></span>
                                    NIT, JALANDHAR
                                </h5>
                                <p>Grand Trunk Road, Barnala - Amritsar Bypass Rd, Jalandhar, Punjab 144011 / India </p>
                                <h6 class="m-b15 text-black font-weight-400"><i class="ti-alarm-clock"></i> Office Hours
                                </h6>
                                <p class="m-b0">Mon To Sun - 24 Hr</p>
                                <p>National Holidays - Closed</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 m-b30">
                        <div class="icon-bx-wraper expertise bx-style-1 p-a20 radius-sm">
                            <div class="icon-content">
                                <h5 class="dlab-tilte">
                                    <span class="icon-sm text-primary"><i class="ti-email"></i></span>
                                    E-mail
                                </h5>
                                <p class="m-b0">webmaster@nitj.ac.in</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 m-b30">
                        <div class="icon-bx-wraper expertise bx-style-1 p-a20 radius-sm">
                            <div class="icon-content">
                                <h5 class="dlab-tilte">
                                    <span class="icon-sm text-primary"><i class="ti-mobile"></i></span>
                                    Phone Numbers
                                </h5>
                                <p class="m-b0">+91-181-2690324</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 col-md-12 m-b30" id="form_container">
                <form class="inquiry-form wow fadeInUp" data-wow-delay="0.2s" action="/accounts/resetPass/"
                    method="POST" enctype="multipart/form-data" onsubmit="return VerifyOTP();">
                    {% csrf_token %}
                    <h3 class="title-box font-weight-300 m-t0 m-b10">CONFIRM OTP <span class="bg-primary"></span></h3>
                    <p>AN OTP HAS BEEN SENT TO YOUR EMAIL - <b> {{email}}</b></p>
                    <p>It may also sent to your spam box</p>
                    <div class="row">
                        <input name="username" type="text" class="form-control" required id="id_username"
                            value="{{username}}" style="display: none;">

                        <!-- password -->
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <div class="input-group" id="div_id_password1">
                                    <span class="input-group-addon"><i class="ti-lock text-primary"></i></span>
                                    <input name="password1" type="password" required class="form-control"
                                        placeholder="Password" id="id_password1">
                                    <span class="input-group-addon"><i class="fa fa-eye text-primary"
                                            onclick="changeType(this,document.getElementsByName('password1')[0]);"></i></span>
                                </div>
                            </div>
                        </div>

                        <!-- confirm password -->
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <div class="input-group" id="div_id_password2">
                                    <span class="input-group-addon"><i class="ti-lock text-primary"></i></span>
                                    <input name="password2" type="password" required class="form-control"
                                        placeholder="Confirm Password" id="id_password2">
                                    <span class="input-group-addon"><i class="fa fa-eye text-primary"
                                            onclick="changeType(this,document.getElementsByName('password2')[0]);"></i></span>
                                </div>
                            </div>
                        </div>

                        <!-- otp number -->
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <div class="input-group" id="div_id_phone">
                                    <span class="input-group-addon"><i class="ti-key text-primary"></i></span>
                                    <input name="otp" type="text" class="form-control" required placeholder="OTP"
                                        id="id_otp">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12">
                            <button name="submit" type="submit" value="Submit" class="site-button button-md">
                                <span>Change Password!</span> </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock%}


{% block footer%}
<!-- Footer -->
<footer class="site-footer footer-full">
	<div class="p-tb60 bg-black">
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-md-left text-center footer-logo">
					<img src="{%static 'images/logo.png'%}" alt="" width="100">
					<p class="m-b0 m-t10">Copyright © 2021</p>
				</div>
				<div class="col-md-6 text-md-right text-center">
					<div class="widget-link ">
						<p>
							Developed By
							<a target="_blank" href="https://www.linkedin.com/in/prince-mishra-7379101ab/">Prince Mishra</a>, and
							<a target="_blank" href="https://www.linkedin.com/in/nishant-6013b61a3/">Nishant</a>
						</p>
						<p>
							Idea by
							<a target="_blank" href="https://www.linkedin.com/in/sourav-goyal-61b469196/">Sourav Goyal</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- Footer END -->
{%endblock%}



{% block script %}
<script>
    function VerifyOTP() {
        let userName = `{{username}}`

        // password verification
        let pass1 = document.getElementsByName("password1")[0].value;
        let pass2 = document.getElementsByName("password2")[0].value;

        if (pass1.length < 8) {
            alert("Your password must contain at least 8 characters.");
            return false;
        }

        flag = true;

        for (let index = 0; index < pass1.length; index++) {
            const element = pass1[index];

            if (element >= 0 && element <= 9) continue;
            else flag = false;
        }

        if (flag) {
            alert("Your password can’t be entirely numeric");
            return false;
        }

        if (pass1 != pass2) {
            alert("Passwords are different");
            return false;
        }

        for (let l = 0, r = pass1.length - 1; r < userName.length; l++, r++) {
            var flag = true;

            for (let i = l; i <= r; i++) {
                if (pass1[i - l] != userName[i]) {
                    flag = false;
                    break;
                }
            }

            if (flag) {
                alert("Your password can’t be too similar to your other personal information.");
                return false;
            }
        }

        for (let l = 0, r = userName.length - 1; r < pass1.length; l++, r++) {
            var flag = true;

            for (let i = l; i <= r; i++) {
                if (userName[i - l] != pass1[i]) {
                    flag = false;
                    break;
                }
            }

            if (flag) {
                alert("Your password can’t be too similar to your other personal information.");
                return false;
            }
        }

        let OTP = `{{otp}}`
        let otp = document.getElementById("id_otp").value

        if (otp != OTP) {
            alert("OTP is not correct");
            return false;
        }

        return true;
    }

    
	function changeType(icon, container) {
		if (container.type == "password") {
			icon.className = "fa fa-eye-slash text-primary";
			container.type = "text";
		} else {
			icon.className = "fa fa-eye text-primary";
			container.type = "password";
		}
	}
</script>

{%endblock%}