* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
    
  }
  
  /* Header/Blog Title */
  
  
  .header h1 {
    font-size: 50px;
  }
  
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {   
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
  }
  
  /* Fake image */
    
    .fakeimg {
			background-color: #aaa;
			width: 100%;
			padding: 20px;
		}
  .logoimg
  {
    background-image: url("../images/home/logo_back.jpg");
  }
  .welcome-text {
    font-size: 12px;
    font-weight: 600;
    margin: 10px 0 20px 0;
    font-family: Verdana, sans-serif;
    color: #49274A;
}
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .follow i{
    margin: auto;
    padding: 15px;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  